<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Student Name</h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-white bg-dark mb-3" >
                        <img class="rounded-circle mx-auto" width="200" height="200" src="https://toppng.com/uploads/preview/view-more-indian-school-student-11562939879stjutznt4h.png"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Patient </h5>
                          <p class="card-text">Student ID</p>
                          <a href="#" class="btn btn-outline-light">View More</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

